<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @assignment.content %>
</p>

<p>
  <b>Due:</b>
  <%= @assignment.due %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
