<h1>Listing lectures</h1>

<table>
  <tr>
    <th>Num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lectures.each do |lecture| %>
  <tr>
    <td><%= lecture.num %></td>
    <td><%= link_to 'Show', [@course, lecture] %></td>
    <td><%= link_to 'Edit', edit_course_lecture_path(@course, lecture) %></td>
    <td><%= link_to 'Destroy', [@course, lecture], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lecture', new_course_lecture_path(@course) %>
