<div class="row-fluid">
	<div class="span8">
		<h2><%= "Lecture #{@lecture.num}: #{@lecture.title}" %></h2>
		<%= @lecture.content %>
	</div>
</div>

<div class="row-fluid">
	<div class="span8">
		<h2>Assignments:</h2>
		<ul>
			<% @lecture.assignments.each do |assignment| %>
				<li><%= assignment.title %> <%= assignment.due %></li>
			<% end %>
		</ul>
	</div>
</div> 

<br>

<%= link_to 'Edit', edit_course_lecture_path(@course, @lecture) %>