<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header center"><%= @course.Call_Number %> - <%= @course.Course_Title %></li>
		<p class="center">
			<%= @course.Meets_On %> 
			<%= @course.Start_Time.strftime("%I:%M %p") %> - 
			<%= @course.End_Time.strftime("%I:%M %p") %> <br>
			<%= @course.Room %> <%= @course.Building %> <br>
			<%= @course.Instructor %>
		</p>

		<li class="divider"></li>
		<li class="nav-header">Lectures</li>
		<% @course.lectures.each do |lecture| %>
			<% if lecture.num %>
				<li><%= link_to "Class #{lecture.num}", course_lecture_path(@course, lecture) %></li>
			<% end %>
		<% end %>

		<% if admin? %>
			<br>
			<li><%= link_to "New Lecture", course_lectures_path(@course), method: :post %></li>
		<% end %>

		<li class="divider"></li>
		<li><a href="#">Assignments</a></li>
		<li><%= link_to "Roster", course_enrollments_path(@course) %></li>
	</ul>
</div>