<tr>
	<td><%= link_to course.Call_Number, course %></td>
	<td><%= link_to course.Course_Title, course %></td>
	<td><%= course.Meets_On %></td>
	<td><%= course.Start_Time.strftime("%I:%M %p") %></td>
	<td><%= course.End_Time.strftime("%I:%M %p") %></td>
	<td><%= course.Instructor %></td>
	<td><%= course.Building %></td>
	<td><%= course.Room %></td>
	<% if admin? %>
		<td><%= link_to 'Edit', edit_course_path(course) %> |
		<%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
</tr>