<%= form_for @course, :html => {class: "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field control-group">
    <%= f.label :Call_Number, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :Call_Number %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :Course_Title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :Course_Title %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :Start_Time, class: "control-label" %>
    <div class="controls time-select">
      <%= f.time_select :Start_Time, :time_separator => ' : ', :ampm => true %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :End_Time, class: "control-label" %>
    <div class="controls time-select">
      <%= f.time_select :End_Time, :ampm => true %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :Meets_On, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :Meets_On %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :Building, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :Building %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :Room, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :Room %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :Instructor, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :Instructor %>
    </div>
  </div>

  <div class="actions control-group">
    <div class="controls">
      <%= f.submit "Create Course", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
