<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header center"><%= @course.Call_Number %> - <%= @course.Course_Title %></li>
    <p class="center">
    <%= @course.Meets_On %> 
    <%= @course.Start_Time.strftime("%I:%M %p") %> - 
    <%= @course.End_Time.strftime("%I:%M %p") %> <br>
    <%= @course.Room %> <%= @course.Building %> <br>
    <%= @course.Instructor %>
  </p>

    <li class="divider"></li>
    <li class="nav-header">Links</li>
    <li><%= link_to "Lectures", course_lectures_path(@course) %></li>
    <li><a href="#">Assignments</a></li>
    <li><%= link_to "Students", enroll_path %></li>
  </ul>
</div>