<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header center"><%= @course.CallNumber %> - <%= @course.CourseTitle %></li>
    <p class="center">
    <%= @course.MeetsOn1 %> 
    <%= Time.parse(@course.StartTime1).strftime("%I:%M %p") %> - 
    <%= Time.parse(@course.EndTime1).strftime("%I:%M %p") %> <br>
    <%= @course.Room1 %> <%= @course.Building1 %> <br>
    <%= @course.Instructor1Name %>
  </p>

    <li class="divider"></li>
    <li class="nav-header">Links</li>
    <li><%= link_to "Lectures", course_lectures_path(@course) %></li>
    <li><a href="#">Assignments</a></li>
    <li><%= link_to "Students", enroll_path %></li>
  </ul>
</div>