<div class="row-fluid">
  <div class="offset1 span4 courses-list">
    <h2>Registered Students:</h2>
    <% @course.users.each do |user| %>
      <ul>
        <li>
          <%= user.first_name %> <%= user.last_name %>
        </li>
      </ul>
    <% end %>
  </div>
</div>

<br><br>

<% if admin? %>
<div class="row-fluid">
  <div class="offset1 span4">
    <h2>Enroll a Student:</h2>
    <%= form_tag(enroll_path, :method => "put") do %>
      <%= label_tag(:email, "Student's Email:") %>
      <%= text_field_tag(:email) %>
      <%= submit_tag "Enroll Student", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>
