<div class="row-fluid">

  <h3><%= @course.Call_Number %> - <%= @course.Course_Title %></h3>
  <%= @course.Meets_On %> 
  <%= @course.Start_Time.strftime("%I:%M %p") %> - 
  <%= @course.End_Time.strftime("%I:%M %p") %> <br>
  <%= @course.Room %> <%= @course.Building %> <br>
  <%= @course.Instructor %>

</div>
