<!DOCTYPE html>
<html>
<head>
  <title>RORProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<%= render "layouts/header" %>
	<div class="container-fluid">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">

					<% if @course && (params[:action] != "new" && params[:action] != "create" || params[:controller] != "courses") %>
						<div class="span3"><%= render "shared/course_nav" %></div>
						<div class="span9"><%= yield %></div>

					<% elsif @user && (params[:action] != "new" && params[:action] != "create" || params[:controller] != "users") %>
						<div class="span3"><%= render "shared/user_nav" %></div>
						<div class="span9"><%= yield %></div>
						
					<% else %>
						<div class="span12"><%= yield %></div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
<%= render "layouts/footer" %>

</body>
</html>
